<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
	<title>Artist of the month</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/fontawesome-free-5.15.4-web/css/all.css">
</head>
<body>
	<header class="title">ARTIST OF THE MONTH</header>
	<!--<div class="search-box">
		<input class="search-txt" type="text" name="" placeholder="NAME OF SONG">
		<a class="search-btn" href="https://tubidy.blue">
			<i class="fas fa-search"></i>,
		</a>
	</div>-->
		<div class="search">
			<p class="search-symbol-1"><</p><p class="search-type">NAME OF THE SONG</p> <p class="search-symbol-2"> ....</p>
		</div>
	<main class="lyrics"><p class="lyrics-words">"Lorem ipsum dolors sit amet, consectetur adipiscing elit. Etiam et ipsum vel tellus accumsan. Phasellus ullamcorper.</p>
		<p class="lyrics-name">Jane A. Doe</p>
		<div class="placeholder" title="" alt=""></div>
	</main>
	<a href="video/ASHANTI BROTHERS...MANU MEHU.mp3"><i class="far fa-play-circle"></i></a>
	<div class="semi-circle-1"></div>
	<div class="semi-circle-2"></div>
	<div class="square"></div>
	<footer class="initials">
		<div class="initials-copyright">Copyrights 2021 intoBinary. All rights reserved.</div>
		<div class="initials-abbr">TCM</div>
	</footer>
</body>
</html>